.component {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.title {
    color: var(--Blue, #4EA8DE);
}

.counter {
    border-radius: 999px;
    background: var(--Gray-400, #333);
    padding: 0 0.5rem;
}